body {
    background-image: linear-gradient(to right, #000, #333);
    color: whitesmoke;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

button {
    padding: 12px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    border-radius: 12px;
    border: none;
    box-shadow: 0px 0px 10px #24707e;
    transition: 0.3s
}

button:hover {
    background-color: #08373f;
    color: #fff;
    border: 1px white solid;
}

input[type='checkbox'] {
    accent-color: #cf1020;
}

#fullGen {
    display: flex;
    flex-direction: column;
    width: fit-content;
    max-width: 480px;
    margin: auto;
    background-color: #08373f;
    box-shadow: -6px -6px #2fc3dd, 6px 6px #720d15, 0px 0px 32px #156775;
    border-radius: 24px;
    margin-top: 40px;
    padding: 24px;
}

.content {
    width: auto;
    display: flex;
    justify-content: space-between;
}

#passwordOutput {
    text-align: center;
    word-break:break-all;
    font-size: 24px;
}


